body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

.home-editor {
  border: 1px solid #403f4f !important;
  padding: 10px !important;
  border-radius: 5px !important;
  height: 25vh !important;
}
.rdw-editor-main {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}
.wrapper-class {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: #525659;
  font-family: Segoe UI, Tahoma, sans-serif;
}

.Example__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  z-index: -1;
}
.Example__container__load {
  margin-top: 1em;
  color: white;
}
.Example__container__document {
  margin: 1em 0;
}
.Example__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}
.Example__container__document .react-pdf__Page {
  max-width: calc(100% - 2em);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: 1em;
  z-index: -1;
}
.Example__container__document .react-pdf__Page canvas {
  max-width: 100%;
  height: auto !important;
}
